<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>About Django 3 - Password Generator</title>
</head>
<body>
<div class="container text-center">

    <h1>About <i>Django 3 - Password Generator</h1>
    <p class="text-justify">
        Details about <i>Django 3 - Password Generator</i> will go here... Details about <i>Django 3 - Password
        Generator</i> will go here... Details about <i>Django 3 - Password Generator</i> will go here... Details about
        <i>Django 3 - Password Generator</i> will go here... Details about <i>Django 3 - Password Generator</i> will go
        here... Details about <i>Django 3 - Password Generator</i> will go here... Details about <i>Django 3 - Password
        Generator</i> will go here...
    </p>
    <a href="{% url 'home'%} " class="text-justify">Back to <i>Home Page</i></a>
</div>

</body>
</html>